@charset "UTF-8";
.header .social img {
	height: 20px;
	width: 20px;
}

.content ol, 
.content ul { 
	display: block; 
	margin: 0;
	margin-left: 40px;
	list-style-type: lower-roman;
}
.content li { display: list-item; }
.content ol ul, 
.content ul ol,
.content ul ul, 
.content ol ol { 
	margin-top: 0; 
	margin-bottom: 0; 
	list-style-type: lower-alpha;
}
